@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d0dbe3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
